<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    {%load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}" />
    
    <script src="{% static 'iframe_show.js' %}"></script>
</head>

<body>
    <div class="header">
        <h1>Home Page </h1>
        <h id = "x">x:  </h>
        <h id = "y">y:  </h>
    </div>
          
    <div class="topnav">
        <a href="home_page">Home Page</a>
        <a href="start_page">Start Page</a>
        <a href="race_car" target="a_iframe">Race Car.js</a>
        <a href="slider" target="a_iframe">Slider.js</a>
        
        <button onclick="myFunction()">Toggle iframe</button>

    </div>
    <div class="row">
        <div class="column side">
            <h2>Name</h2>
            <form action="your_name" method="post">
                    {% csrf_token %}
                   {{ form }}
                   <input type="submit" value="Submit" />
               </form>
               <p>Submitted: {{data}}</p>
               <h3>Mail</h3>
            <form action="contact" method="post">
                {% csrf_token %}
                {{ contact.as_p }}
                <input type="submit" value="Submit" />
            </form>
            <p>Submitted: {{subject}}</p>
        </div>


        <div id ="div1" class="column middle">Main Screen
           <iframe id = "a_iframe" src="race_car" name="a_iframe"></iframe>
        </div>


        <div id = "divside" class="column side">
            <h2>To Do List</h2>
            <form action="to_do_list" method="post">
                    {% csrf_token %}
                    {{ task.as_p }}
                    <input type="submit" value="Submit" />
            </form>
            <p>Submitted: {{duedate}}</p>
        </div>

    </div>
    
    <hr><div class="footer">
        <a href="start_page"><< Start Page</a>
    </div>

<!--Wheel selector-->
<div class = "container">
    <div id="circle">
        <div class="line"></div>
        <script src="{% static 'wheel.js' %}"></script>
    </div>
</div>

</body>
</html>